<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAnalyzers" version="1.1.7.0" targetFramework="net461" developmentDependency="true" />
  <package id="EPPlus" version="5.8.4" targetFramework="net48" />
  <package id="LiteDB" version="5.0.11" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="log4net" version="2.0.13" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>