<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="LinesRead" value="25" />
    <add key="AlwaysOnTop" value="false" />
    <add key="ShowNLineAtStart" value="true" />
    <add key="AlwaysScrollToEnd" value="true" />
    <add key="RestoreWindowSize" value="false" />
    <add key="wndWidth" value="-1" />
    <add key="wndHeight" value="-1" />
    <add key="SaveWindowPosition" value="false" />
    <add key="wndXPos" value="-1" />
    <add key="wndYPos" value="-1" />
    <add key="defaultRefreshRate" value="Normal" />
    <add key="defaultThreadPriority" value="Normal" />
    <add key="ExitWithEsc" value="false" />
    <add key="TimeFormat" value="HHMMD" />
    <add key="DateFormat" value="DDMMYYYY" />
    <add key="ForegroundColor" value="#000000" />
    <add key="BackgroundColor" value="#FFFFFF" />
    <add key="InactiveForegroundColor" value="#000000" />
    <add key="InactiveBackgroundColor" value="#FFFCFAF5" />
    <add key="FindHighlightForegroundColor" value="#000000" />
    <add key="FindHighlightBackgroundColor" value="#FFCC00" />
    <add key="SearchwndXPos" value="-1" />
    <add key="SearchwndYPos" value="-1" />
    <add key="FileManagerSort" value="FileCreationTime" />
    <add key="ShowLineNumbers" value="false" />
    <add key="LineNumbersColor" value="#808080" />
    <add key="HighlightColor" value="#FF0000FF" />
    <add key="Alert.BringToFront" value="true" />
    <add key="Alert.PlaySoundFile" value="false" />
    <add key="Alert.SoundFile" value="NoFile" />
    <add key="Alert.SendEMail" value="false" />
    <add key="Alert.EMailAddress" value="NoMail" />
    <add key="Proxy.Use" value="false" />
    <add key="Proxy.Port" value="-1" />
    <add key="Proxy.Url" value="" />
    <add key="Proxy.UseSystem" value="true" />
    <add key="Proxy.UserName" value="" />
    <add key="Proxy.Password" value="" />
    <add key="Smtp.Server" value="" />
    <add key="Smtp.Port" value="" />
    <add key="Smtp.Login" value ="" />
    <add key="Smtp.Password" value="" />
    <add key="Smtp.FromEMail" value="" />
    <add key="Smtp.Subject" value="" />
    <add key="Smtp.Ssl" value="true" />
    <add key="Smtp.Tls" value="false" />
  </appSettings>
</configuration>