<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="LastViewedOptionPage" value="00000000-0000-0000-0000-000000000000" />
    <add key="Language" value="English" />
    <add key="DragDropWindow" value="True" />
    <add key="LinesRead" value="10" />
    <add key="LogLineLimit" value="-1" />
    <add key="AlwaysOnTop" value="False" />
    <add key="ShowNLineAtStart" value="True" />
    <add key="AlwaysScrollToEnd" value="True" />
    <add key="RestoreWindowSize" value="False" />
    <add key="WndWidth" value="-1" />
    <add key="WndHeight" value="-1" />
    <add key="SaveWindowPosition" value="False" />
    <add key="WindowState" value="Normal" />
    <add key="WndXPos" value="-1" />
    <add key="WndYPos" value="-1" />
    <add key="DefaultRefreshRate" value="Normal" />
    <add key="DefaultThreadPriority" value="Normal" />
    <add key="ExitWithEsc" value="False" />
    <add key="TimeFormat" value="HHMMD" />
    <add key="DateFormat" value="DDMMYYYY" />
    <add key="ForegroundColor" value="#000000" />
    <add key="BackgroundColor" value="#FFFFFF" />
    <add key="InactiveForegroundColor" value="#000000" />
    <add key="InactiveBackgroundColor" value="#FFFCFAF5" />
    <add key="FindHighlightForegroundColor" value="#000000" />
    <add key="FindHighlightBackgroundColor" value="#FFCC00" />
    <add key="StatusBarInactiveBackgroundColor" value="#68217A" />
    <add key="StatusBarFileLoadedBackgroundColor" value="#007ACC"/>
    <add key="StatusBarTailBackgroundColor" value="#CA5100" />
    <add key="SearchwndXPos" value="-1" />
    <add key="SearchwndYPos" value="-1" />
    <add key="FileManagerSort" value="FileCreationTime" />
    <add key="ShowLineNumbers" value="False" />
    <add key="LineNumbersColor" value="#808080" />
    <add key="HighlightColor" value="#FF0000FF" />
    <add key="AutoUpdate" value="False" />
    <add key="SmartWatch" value="False" />
    <add key="Statics" value="False" />
    <add key="GroupByCategory" value="True" />
    <add key="CurrentWindowStyle" value="ModernBlueWindowStyle" />
    <add key="DeleteLogFiles" value="True" />
    <add key="DeleteLogFileOlderThan" value="5" />
    <add key="Alert.BringToFront" value="True" />
    <add key="Alert.PlaySoundFile" value="False" />
    <add key="Alert.SoundFile" value="NoFile" />
    <add key="Alert.SendEMail" value="False" />
    <add key="Alert.EMailAddress" value="NoMail" />
    <add key="Alert.PopupWindow" value="False" />
    <add key="Proxy.Port" value="8080" />
    <add key="Proxy.Url" value="" />
    <add key="Proxy.UseSystem" value="True" />
    <add key="Proxy.UserName" value="" />
    <add key="Proxy.Password" value="" />
    <add key="Smtp.Server" value="" />
    <add key="Smtp.Port" value="587" />
    <add key="Smtp.Login" value="" />
    <add key="Smtp.Password" value="" />
    <add key="Smtp.FromEMail" value="" />
    <add key="Smtp.Subject" value="" />
    <add key="Smtp.Ssl" value="True" />
    <add key="Smtp.Tls" value="False" />
    <add key="SmartWatch.FilterByExtension" value="True" />
    <add key="SmartWatch.NewTab" value="True" />
    <add key="SmartWatch.Mode" value="Manual" />
    <add key="SmartWatch.AutoRun" value="True" />
  </appSettings>
</configuration>
