<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LastViewedOptionPage" value="00000000-0000-0000-0000-000000000000" />
    <add key="Language" value="English" />
    <add key="LinesRead" value="25" />
    <add key="AlwaysOnTop" value="False" />
    <add key="DragDropWindow" value="True" />
    <add key="ShowNLineAtStart" value="True" />
    <add key="AlwaysScrollToEnd" value="True" />
    <add key="RestoreWindowSize" value="True" />
    <add key="wndWidth" value="1274" />
    <add key="wndHeight" value="1080" />
    <add key="SaveWindowPosition" value="True" />
    <add key="wndXPos" value="2566" />
    <add key="wndYPos" value="0" />
    <add key="defaultRefreshRate" value="Normal" />
    <add key="defaultThreadPriority" value="Normal" />
    <add key="ExitWithEsc" value="False" />
    <add key="TimeFormat" value="HHMMSSD" />
    <add key="DateFormat" value="DDMMYYYY" />
    <add key="ForegroundColor" value="#FFFFFFFF" />
    <add key="BackgroundColor" value="#FF001825" />
    <add key="InactiveForegroundColor" value="#000000" />
    <add key="InactiveBackgroundColor" value="#FFFCFAF5" />
    <add key="FindHighlightForegroundColor" value="#000000" />
    <add key="FindHighlightBackgroundColor" value="#FFCC00" />
    <add key="StatusBarInactiveBackgroundColor" value="#FF68217A" />
    <add key="StatusBarFileLoadedBackgroundColor" value="#FF007ACC" />
    <add key="StatusBarTailBackgroundColor" value="#FFCA5100" />
    <add key="SearchwndXPos" value="NaN" />
    <add key="SearchwndYPos" value="NaN" />
    <add key="FileManagerSort" value="FileCreationTime" />
    <add key="ShowLineNumbers" value="False" />
    <add key="LineNumbersColor" value="#FF41A1FF" />
    <add key="HighlightColor" value="#FF3B7FFE" />
    <add key="AutoUpdate" value="True" />
    <add key="Alert.BringToFront" value="False" />
    <add key="Alert.PlaySoundFile" value="False" />
    <add key="Alert.SoundFile" value="NoFile" />
    <add key="Alert.SendEMail" value="False" />
    <add key="Alert.EMailAddress" value="NoMail" />
    <add key="Alert.PopupWindow" value="True" />
    <add key="Proxy.Port" value="0" />
    <add key="Proxy.Url" value="" />
    <add key="Proxy.UseSystem" value="True" />
    <add key="Proxy.UserName" value="testuser" />
    <add key="Proxy.Password" value="+Kd0HUs0pWhzHO/iNlvunA==" />
    <add key="Smtp.Server" value="" />
    <add key="Smtp.Port" value="-1" />
    <add key="Smtp.Login" value="" />
    <add key="Smtp.Password" value="" />
    <add key="Smtp.FromEMail" value="" />
    <add key="Smtp.Subject" value="" />
    <add key="Smtp.Ssl" value="True" />
    <add key="Smtp.Tls" value="False" />
    <add key="SmartWatch" value="False" />
    <add key="Statics" value="False" />
    <add key="GroupByCategory" value="True" />
    <add key="SmartWatch.FilterByExtension" value="True" />
    <add key="CurrentWindowStyle" value="ModernBlueWindowStyle" />
    <add key="WindowState" value="Normal" />
    <add key="SmartWatch.NewTab" value="False" />
    <add key="SmartWatch.Mode" value="Auto" />
    <add key="LogLineLimit" value="-1" />
    <add key="DeleteLogFiles" value="True" />
    <add key="SmartWatch.AutoRun" value="True" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
